.full-size-center{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ececec;
}
.box{
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.box.tall{
    border-radius: 0;
    display: block;
    aspect-ratio: none;
}
.large-img{
    width: 175%;
    transform: translate(-20%, 0);
}
.mid-btn{
    width: 100%;
    margin-top: 1rem;
}
.mid-text{
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.grid-item{
    padding: 10px;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
h2.category{
    margin-bottom: 1rem;
    margin-top: 3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.add-product{
    border: none;
    color: white;
    padding: 10px 16px;
    background-color: #0d6efd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.added{
    background-color: rgb(10, 206, 43);
}